<div ng-controller="IndexController">
  <h1>This is index</h1>

  <p>Hello. This is a temporary placeholder for what will become a nice first page for this dashboard.</p>

  <p>Just a couple of notes:</p>

  <ul>
    <li>This app is completely client-side, it only persists some things in the temporary session storage.</li>
    <li>When this app says you are logged in, it really means that it temporarily remembered your bugzilla credentials; there is no server part that has your username or password.</li>
    <li>Since the app builds on top of the Bugzilla API, you can only see what you are allowed to see in Bugzilla. So if some reports are missing data or are empty then that probably means that you cannot see those bugs. This is by design.</li>
  </ul>

  <p>Please report bugs and ideas at <a href="https://github.com/st3fan/moz-dashboard/issues">github.com/st3fan/moz-dashboard/issues</a> but please keep in mind to not post anything confidential there. You can also email me of course.</p>

</div>
