<div ng-show="loading">
  <h3>Loading bugs .. this can take a minute .. or two.</h3>
</div>


<div class="container" ng-show="!loading">

<!--
  <ul class="nav nav-tabs">
    <li ng-class="{active: tab == 'open'}"><a ng-click="showTab('open')">Open Kickoff Bugs</a></li>
    <li ng-class="{active: tab == 'stats'}"><a ng-click="showTab('stats')">Quarterly Statistics</a></li>
  </ul>
-->

    <div ng-show="tab == 'open'">
      <ul class="nav nav-pills">
        <li ng-class="{active: filter == 'all'}"><a ng-click="filterBy('all')">All</a></li>
        <li ng-class="{active: filter == 'privacy'}"><a ng-click="filterBy('privacy')">Blocked on Privacy</a></li>
        <li ng-class="{active: filter == 'security'}"><a ng-click="filterBy('security')">Blocked on Security</a></li>
        <li ng-class="{active: filter == 'legal'}"><a ng-click="filterBy('legal')">Blocked on Legal</a></li>
        <li ng-class="{active: filter == 'data'}"><a ng-click="filterBy('data')">Blocked on Data Safety</a></li>
        <li ng-class="{active: filter == 'finance'}"><a ng-click="filterBy('finance')">Blocked on Finance</a></li>
      </ul>
      <h3>Showing {{bugs.length}} open project kick-off bugs</h3>
      <div ng-repeat="bug in bugs">
        <h4 style="text-overflow: hidden;" class="bug-title-big"><a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.id}}" target="_blank">{{bug.summary}}</a> <span class="label label-{{bug.ageLabel}} pull-right">{{bug.age}} days</span></h4>
        <ul style="list-style: none;">
          <li ng-repeat="depends_on in bug.depends_on">
            <span style="width: 30px; margin-right: 6px; text-align: center;" class="label label-{{depends_on.shortStatusColor}}">{{depends_on.shortStatus}}</span>
            <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{depends_on.id}}" target="_blank">
              <span class="bug-{{depends_on.status}}">{{depends_on.id}} {{depends_on.summary}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div ng-show="tab == 'stats'">
      <h3>Quarterly Stats</h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Start</th>
            <th>End</th>
            <th>Total</th>
            <th>Open</th>
            <th>Resolved</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="stats in quarterlyStats">
            <td>{{stats.range.start|moment:"YYYY-MM-DD"}}</td>
            <td>{{stats.range.end|moment:"YYYY-MM-DD"}}</td>
            <td>{{stats.projectStats.total}}</td>
            <td>{{stats.projectStats.open}}</td>
            <td>{{stats.projectStats.resolved}}</td>
          </tr>
        </tbody>
      </table>


      <div ng-repeat="stats in quarterlyStats">
        <h4>{{stats.range.start|moment:"YYYY-MM-DD"}} - {{stats.range.end|moment:"YYYY-MM-DD"}}</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Team</th>
              <th>Total</th>
              <th>Open</th>
              <th>Fixed</th>
              <th>Invalid</th>
              <th>Other</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="s in stats.teamStats">
              <td>{{s.team}}</td>
              <td>{{s.total}}</td>
              <td>{{s.open}}</td>
              <td>{{s.resolved_fixed}}</td>
              <td>{{s.resolved_invalid}}</td>
              <td>{{s.resolved_other}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

</div>
