<!DOCTYPE html>
<html lang="en" ng-app="dashboard">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Provided -->
        <script src="js/jquery-1.9.1.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/underscore.js"></script>
        <script src="js/moment.js"></script>
        <script src="js/moment-range.js"></script>
        <script src="js/bootstrap.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <!-- App -->
        <script src="js/dashboard.js"></script>
        <script src="js/dashboard/reviews.js"></script>
        <script src="js/dashboard/websecbugs.js"></script>
        <script src="js/dashboard/kickoff.js"></script>
        <link rel="stylesheet" href="css/dashboard.css">
    </head>

    <body ng-controller="DashboardController">

        <div class="container">

            <!-- Sign in form -->

            <div id="signin-container" ng-controller="SigninController" ng-show="ready && !loggedIn">
                <form class="form-signin" id="signin-form">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <input type="text" class="input-block-level" placeholder="Bugzilla Username" ng-model="username">
                    <input type="password" class="input-block-level" placeholder="Bugzilla Password" ng-model="password">
                    <label class="checkbox">
                        <input type="checkbox" value="1" ng-model="rememberMe">Remember my username
                    </label>
                    <p class="text-error" ng-show="error">{{error}}</p>
                    <button class="btn btn-large btn-primary" id="signin-button" ng-click="signin()">Sign in</button>
                    <P></P>
                    <p><b>Note:</b> This application runs completely inside the browser. Your Bugzilla credentials are only sent directly to the Bugzilla API over SSL.</p>
                </form>
            </div>

            <!-- Main Page -->

            <div ng-show="ready && loggedIn">

                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container">
                            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="brand" ng-href="#!/">Security Dashboard</a>
                            <div class="nav-collapse collapse">
                                <p class="navbar-text pull-right">
                                    {{username}} - <a class="navbar-link" ng-click="logout()">Logout</a>
                                </p>
                                <ul class="nav">
                                    <li class="{active: dashboard == 'websecbugs'}"><a ng-href="#!/websecbugs">WebSec Bugs</a></li>
                                    <li class="{active: dashboard == 'reviews'}"><a ng-href="#!/reviews">Reviews</a></li>
                                    <li class="{active: dashboard == 'kickoff'}"><a ng-href="#!/kickoff">Project Kickoff</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>

                <ng-view></ng-view>

            </div>

        </div>

    </body>

</html>
